.root {
    -fx-font-size: 12pt;
    -fx-font-family: "Andalus";
    -fx-base: rgb(139,69,19);
}

.label {
    -fx-text-fill: rgb(255,255,0);
}

.header-label {
    -fx-font-family: "Forte";
    -fx-font-size: 24pt;
    -fx-padding: 10px;
}

.mode-label {
    -fx-font-size: 16pt;
    -fx-underline: true;
    -fx-font-family: "Constantia";
}

.word-label {
    -fx-text-fill: rgb(200,200,200);
    -fx-background-color: rgb(139,69,19);
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
    -fx-padding: 5px;
}

.time-label {
    -fx-text-fill: rgb(0,0,0);
    -fx-background-color: rgb(222,184,135);
    -fx-padding: 10px;
    -fx-underline: true;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
}